nav.container-md
	ul
		li.button.button-outlined.block-mobile
			a(href='index.html') Main
		li.button.button-outlined.block-mobile
			a(href='history.html') English history
		li.button.button-outlined.block-mobile
			a(href='contacts.html') Contacts
