include ./templates/head
	body
		//- header
		header
			include ./templates/header
		//- main content
		main
			h1.text-bg.text-primary A Good Lesson
			h2.text-md.text-primary The beginning of history
			p.text-sm
				| Once a rich Englishwoman called Mrs Johnson decided to have a birthday party. She invited a lot of guests and a singer. The singer was poor, but he had a very good voice.
				| The singer got to Mrs Johnson’s house at exactly six o’clock as he had been asked to do, but when he went in, he saw through a door that the dining-room was already full of guests, who were sitting round a big table in the middle of the room. The guests were eating, joking, laughing, and talking loudly. Mrs Johnson came out to him, and he thought she was going to ask him to join them, when she said, «We’re glad, sir, that you have come. You will be singing after dinner, I’ll call you as soon as we’re ready to listen to you. Now will you go into the kitchen and have dinner, too, please?»
				| The singer was very angry, but said nothing. At first he wanted to leave Mrs Johnson’s house at once, but then he changed his mind and decided to stay and teach her and her rich guests a good lesson. When the singer went into the kitchen, the servants were having dinner, too. He joined them. After dinner, the singer thanked everybody and said, «Well, now I’m going to sing to you, my good friends.» And he sang them some beautiful songs.
				| Soon Mrs Johnson called the singer.
				| «Well, sir, we’re ready.»
				| «Ready?» asked the singer. «What are you ready for?»
				| «To listen to you,» said Mrs Johnson in an angry voice.
				| «Listen to me? But I have already sung, and I’m afraid I shan’t be able to sing any more tonight.»
				| «Where did you sing?»
				| «In the kitchen. I always sing for those I have dinner with.»
			h2.text-md.text-primary Than it all ended
			p.text-sm
				|	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lobortis consequat erat. Aliquam finibus purus orci, eu varius ante congue eget. Nunc rhoncus malesuada ex, eu posuere lorem porta id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi a turpis massa. Curabitur faucibus in nibh vel vehicula. Aenean lorem eros, pharetra quis ipsum in, euismod feugiat justo.
				| Phasellus in orci id mi dapibus aliquet. Donec eget lacinia quam. Vivamus urna risus, dapibus nec tincidunt faucibus, lobortis a ante. Cras laoreet lobortis viverra. Vestibulum egestas consectetur ligula, quis vulputate orci lobortis auctor. Sed vestibulum molestie orci vitae finibus. Duis id libero eu tortor condimentum interdum. Vivamus mattis urna tortor, sed aliquam urna feugiat ut. Curabitur in magna ornare, sagittis felis ut, interdum neque.
				| Nulla fermentum semper diam sit amet sagittis. Phasellus ornare congue ultrices. Nullam leo arcu, consequat quis purus et, tempor posuere risus. Quisque fringilla pulvinar dolor vel finibus. Praesent dapibus blandit elit, vel aliquet sem malesuada in. Vestibulum ante purus, sodales sit amet pulvinar vel, porta vitae mi. Nulla facilisi. Nullam maximus, tortor id semper aliquam, leo ex auctor velit, a euismod erat dui ac ante. Morbi quis elit et dolor elementum volutpat. Sed viverra libero massa, sed condimentum velit auctor ac.
				| Morbi dignissim eu dui ac sodales. Mauris leo magna, efficitur et porttitor sit amet, faucibus ultricies ligula. Fusce nec dolor arcu. Morbi diam lacus, condimentum consectetur purus in, laoreet mollis urna. Duis sollicitudin mattis nisi eu hendrerit. Phasellus venenatis nunc sed velit pharetra tempor vel vel libero. Morbi leo mi, commodo vel venenatis eleifend, gravida ac dolor. Donec at sodales eros. Pellentesque eget vulputate mi. Vivamus ornare dui et pharetra venenatis. Suspendisse potenti.
			h2.text-md.text-primary Moral of history
			p.text-sm
				| In rhoncus at enim eget consequat. Sed dignissim sem vitae quam hendrerit molestie. Donec nibh metus, venenatis fermentum pulvinar et, finibus nec ex. Curabitur aliquam massa eget eros efficitur imperdiet. Curabitur dignissim leo non pellentesque venenatis. Etiam faucibus mi dolor, ac faucibus elit scelerisque vitae. In nec consectetur velit. Nam vel accumsan dui, sit amet volutpat diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		//- footer
		footer
			include ./templates/footer
		//- jQuery
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		//- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
