include ./templates/head
	//- header
	header
		include ./templates/header
	//- main content
	main
		.container
			.gallery
				figure
					img(src="images/slipsole.jpg",  alt='Slipsole')
					figcaption.text-blue.align-center Slipsole
				figure
					img(src='images/cups.jpg',  alt='Cups')
					figcaption.text-blue.align-center Cups
				figure
					img(src='images/baskets.jpg',  alt='Baskets')
					figcaption.text-blue.align-center Baskets
				figure
					img(src='images/caskets.jpg',  alt='Caskets')
					figcaption.text-blue.align-center Caskets
				figure
					img(src='images/headbands.jpg',  alt='Headbands')
					figcaption.text-blue.align-center Headbands
				figure
					img(src='images/bastshoes.jpg',  alt='Bast shoes')
					figcaption.text-blue.align-center Bast shoes
	//- footer
	footer
		include ./templates/footer




