include ./templates/head
	//- header
	header
		include ./templates/header
	//- main content
	main
		.container
			.gallery
				figure
					img(src="images/slipsole.jpg",  alt='Slipsole')
					figcaption.text-primary.align-center Slipsole
				figure
					img(src='images/cups.jpg',  alt='Cups')
					figcaption.text-primary.align-center Cups
				figure
					img(src='images/baskets.jpg',  alt='Baskets')
					figcaption.text-primary.align-center Baskets
				figure
					img(src='images/caskets.jpg',  alt='Caskets')
					figcaption.text-primary.align-center Caskets
				figure
					img(src='images/headbands.jpg',  alt='Headbands')
					figcaption.text-primary.align-center Headbands
				figure
					img(src='images/bastshoes.jpg',  alt='Bast shoes')
					figcaption.text-primary.align-center Bast shoes
	//- footer
	footer
		include ./templates/footer
	//- jQuery
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	//- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')

