/* 
	Header
*/
header {
	height: 110px;
	border: 2px solid transparent;
	background-color: #76656F;
}

.left-header {
	display: inline-block;
	color: #000;
	font-size: 28px;
	font-weight: bold;
	padding: 5px;
	border: 2px solid transparent;
}

.left-header2 {
	display: inline-block;
	padding: 5px;
	border: 2px solid transparent;
}

.right-header {
	display: inline-block;
	float: right;
	padding: 10px;
	border: 2px solid transparent;
}
/* 
	Navigation
*/
nav {
	list-style-type: none;
	background-color: #96858F;
	margin: 0px;
	margin-top: 2px;
}

nav li {
	display: inline-block;
	margin-left: 10px;
}

nav a {
	display: block;
	padding: 3px;
	padding-right: 5px;
	margin: 0px;
	text-decoration: none;
	color: .000;
}

nav a:hover {
	background-color: #6D7993;
}
