include head/head.pug
  body
    //- header
    header
			include templates/header.pug
    //- main content
    main
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2046.5155049809803!2d-86.50409776187239!3d30.384607792200004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88867f341f4bfe75%3A0x5e55343553c8cce9!2z0JDQu9Cw0LHQsNC80LAsINCh0KjQkA!5e0!3m2!1sru!2sru!4v1522169392895', width='450', height='450', frameborder='0', style='border:0', allowfullscreen='')
    //- footer
    footer	
      include templates/footer.pug
    //- jQuery 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
